.menu-button {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #333;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 999;
    font-size: 18px;
}
  /* Style the button and place it in the middle of the container/image */
  .icon .menu-button {
    /* position: absolute; */
    /* top: 12%; */
    /* left: -3%; */
    opacity: 0;
    color: white;
    font-size: 7px;
    padding: 12px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 2;
}

.menu-container {
  display: block;
  position: fixed;
  top: 4.4%;
  left: 0;
  bottom: 0;
  /* width: 250px; */
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 200;
  width: 250px;
  height: 20%;
}

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #6a6767;
    border-bottom: 1px solid #ccc;

  }
  
  .profile-pic {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }

  .name {
    margin: 10px 0 5px 0;
    font-weight: bold;
    font-size: 22px;
  }
  
  .username {
    margin-left: 5px;
    color: #080808;
    font-size: 18px;
  }

  .options {
    display: flex;
    flex-direction: column;
    background-color: #333;
  }
  
  #main, #personal-space, #explore, #publish-offer{
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Montserrat', cursive;
    color: white;
  }
  
button#main:hover,
button#personal-space:hover,
button#explore:hover,
button#publish-offer:hover {
  background-color: #ddd;
}
  
  button:focus {
    outline: none;
  }




  
  .icon {
    position: relative;
    width: 7%;
    padding: 10px;
  }
  
  .icon.menu {
    padding-left: 0px;
    z-index: 1; /* add this to bring the menu button above the image */
    margin-left: 22px;
    height: inherit;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .icon .menu-button {
    position: absolute;
    top: 12%;
    left: -3%;
    opacity: 0;
    color: white;
    font-size: 7px;
    padding: 12px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 2;
  }

  .menu-container {
    display: block;
    position: fixed;
    top: 97px;
    left: 0;
    bottom: 0;
    /* width: 250px; */
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 200;
    width: 250px;
    height: 20%;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #6a6767;
    border-bottom: 1px solid #ccc;

  }
  
  .profile-pic {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .name {
    margin: 10px 0 5px 0;
    font-weight: bold;
    font-size: 22px;
  }
  
  .username {
    margin-left: 5px;
    color: #080808;
    font-size: 18px;
  }

  .options {
    display: flex;
    flex-direction: column;
    background-color: #333;
  }